<link href="~/Content/homeindexstyle.css" rel="stylesheet" />
@{
    ViewBag.Title = "Home Page";
}


<h1 id="title">Welcome to J-Star's</br>Adventure Planner!</h1>

<div class="row">
    <div class="col-md-6 col-xs-12">
        <div class="thumbnail">
            <h2>Reviews</h2>
            <p>
                Here you can view reviews left by other travellers, and use their experiences and advice to help plan your adventure!
            </p>
            <p><a class="btn btn-default" href="/Reviews/Index"> Reviews&raquo;</a></p>
            <a href="~/Views/Reviews/Index.cshtml">~/Views/Reviews/Index.cshtml</a>
        </div>
    </div>
    <div class="col-md-6 col-xs-12">
        <div class="thumbnail">
            <h2>Categories</h2>
            <p>Here you may view what types of review categories we list.  Feel free to add your own and contribute as well!</p>
            <p><a class="btn btn-default" href="/Categories/Index">Categories&raquo;</a></p>
        </div>
    </div>
</div>
